body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
a{
  text-decoration: none;
}

.nav-link{
  color: black;
}

header{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.desc-food{
  margin-top: 20px;
  width: 800px;
}
.big-img{
  margin-right: 15px;
}
.btn-search{
  border: 2px solid #767676;
  padding: 4px 10px;
  margin-left: -1px;
  color: black;;
}
.search-food{
  margin-bottom: 20px;
  text-align: center;
}
